html {
    box-sizing: border-box;
  }
  .calculator {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    margin-top: 140px;
    margin-left: 550px;
    width: 400px;
  }
  
  .calculator-screen {
    width: 100%;
    font-size: 80px;
    height: 80px;
    border: hidden;
    background-color: black;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }
  
   button {
    height: 60px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 30px;
    color: black;
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    color: blue;
  }
  
  .all-clear {
    background-color: red;
    border-color: red;
    color: white;
  }
  
  .all-clear:hover {
    background-color: lightcoral;
  }
  
  .equal-sign {
    background-color: blue;
    border-color: blue;
    color: white;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equal-sign:hover {
    background-color: lightskyblue;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }